<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<link href="/css/deepsea.css" rel="stylesheet"/>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/8b8c45babd.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deepwater</title>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Serif+KR:wght@600&family=Road+Rage&family=Song+Myung&display=swap"
          rel="stylesheet">

</head>
<style>
    .second {
        flex-grow: 4;
    }

    .container {
        color: white;
    }
</style>
<script>

    function isValidContents(contents) {
        if (contents == '') {
            alert('내용을 입력해주세요');
            return false;
        }
        return true;
    }

    function editPost(id) {
        showEdits(id);
        let contents = $(`#${id}-contents`).text().trim();
        $(`#${id}-textarea`).val(contents);
    }

    function showEdits(id) {
        $(`#${id}-editarea`).show();
        $(`#${id}-submit`).show();
        $(`#${id}-delete`).show();

        $(`#${id}-contents`).hide();
        $(`#${id}-edit`).hide();
    }

    $(document).ready(function () {
        // HTML 문서를 로드할 때마다 실행합니다.
        let id = /*[[ ${id} ]]*/null;
        if (id) {
            getMessages(id);
        }
    })

    // 메모를 불러와서 보여줍니다.
    function getMessages(id) {
        // 1. 기존 메모 내용을 지웁니다.
        $('#cards-box').empty();
        // 2. 메모 목록을 불러와서 HTML로 붙입니다.
        $.ajax({
            type: 'GET',
            url: `/memories/detail/${id}/comments`,
            success: function (response) {
                for (let i = 0; i < response.length; i++) {
                    let comment = response[i];
                    let id = comment['id'];
                    let username = comment['username'];
                    let commentary = comment['commentary'];
                    let modifiedAt = comment['modifiedAt'];
                    addHTML(id, username, commentary, modifiedAt);
                }
            }
        })
    }

    function addHTML(id, username, commentary, modifiedAt) {
        // 1. HTML 태그를 만듭니다.
        let tempHtml = `<div class="card">
                <!-- date/username 영역 -->
                <div class="metadata">
                    <div class="date">
                        ${modifiedAt}
                    </div>
                    <div id="${id}-username" class="username">
                        ${username}
                    </div>
                </div>
                <!-- contents 조회/수정 영역-->
                <div class="contents">
                    <div id="${id}-contents" class="text">
                        ${commentary}
                    </div>
                    <div id="${id}-editarea" class="edit">
                        <textarea id="${id}-textarea" class="te-edit" name="" id="" cols="30" rows="5"></textarea>
                    </div>
                </div>
                <!-- 버튼 영역-->
                <div class="footer">
                    <img id="${id}-edit" class="icon-start-edit" src="images/edit.png" alt="" onclick="editPost('${id}')">
                    <img id="${id}-delete" class="icon-delete" src="images/delete.png" alt="" onclick="deleteOne('${id}')">
                    <img id="${id}-submit" class="icon-end-edit" src="images/done.png" alt="" onclick="submitEdit('${id}')">
                </div>
            </div>`;
        // 2. #cards-box 에 HTML을 붙인다.
        $('#cards-box').append(tempHtml);
    }

    function writePost(id, username, commentary, modifiedAt) {
        // 1. 작성한 메모를 불러옵니다.
        let contents = $('#contents').val();

        // 2. 작성한 메모가 올바른지 isValidContents 함수를 통해 확인합니다.
        if (isValidContents(contents) == false) {
            return;
        }

        // 4. 전달할 data JSON으로 만듭니다.
        let data = {'username': username, 'commentary': commentary, 'modifiedAt': modifiedAt};

        // 5. POST /api/memos 에 data를 전달합니다.
        $.ajax({
            type: "POST",
            url: `/memories/detail/${id}/comments`,
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function (response) {
                alert('메시지가 성공적으로 작성되었습니다.');
                window.location.reload();
            }
        });
    }

    function submitEdit(id) {
        // 1. 작성 대상 메모의 username과 contents 를 확인합니다.
        let contents = $(`#${id}-textarea`).val().trim();

        // 2. 작성한 메모가 올바른지 isValidContents 함수를 통해 확인합니다.
        if (isValidContents(contents) == false) {
            return;
        }

        // 3. 전달할 data JSON으로 만듭니다.
        let data = {'username': username, 'commentary': commentary, 'modifiedAt': modifiedAt};

        // 4. PUT /api/memos/{id} 에 data를 전달합니다.
        $.ajax({
            type: "PUT",
            url: `/memories/detail/{id}/comments/{cId}`,
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function (response) {
                alert('메시지 변경에 성공하였습니다.');
                window.location.reload();
            }
        });
    }

    function deleteOne(id) {
        // 1. DELETE /api/memos/{id} 에 요청해서 메모를 삭제합니다.
        $.ajax({
            type: "DELETE",
            url: `/memories/detail/{id}/comments/{cId}`,
            success: function (response) {
                alert('메시지 삭제에 성공하였습니다.');
                window.location.reload();
            }
        })
    }

</script>


<body style="background-size: cover;
             background: url('/images/pexels-gilberto-olimpio-7826039.jpg') no-repeat;">

<nav class="navbar navbar-light navbar-deepwater" style="background-color: black">
    <a class="navbar-brand" href="/memories/list">
        <div style="color:#A8BFBB;">
            <h1><i class="fab fa-digital-ocean fa-1.5x d-inline-block"></i> To List </h1>
        </div>
    </a>
</nav>
<h3>
    <ul class="list-group detailed_list">
        <span class="badge badge-pill badge-dark d-inline">제목</span>
        <li class="list-group-item title_list bg-transparent">
            <div style="text-align: center">
                <div class="d-inline" th:text="${title}"></div>
            </div>
        </li>
        <span class="badge badge-pill badge-dark d-inline">내용</span>
        <li class="list-group-item name_list bg-transparent">
            <div style="text-align: center">
                <div class="d-inline" th:text="${thoughts}"></div>
            </div>
        </li>
        <span class="badge badge-pill badge-dark d-inline">입력시점</span>
        <li class="list-group-item comment_list bg-transparent">
            <div class="d-inline" th:text="${#temporals.format(memory.modifiedAt, 'yyyy-MM-dd HH:mm:ss')}"></div>
        </li>
    </ul>
</h3>

<div class="cards-box">
</div>

<form id="my_form" method="post" action="/user/logout">
    <a id="logout-text" href="javascript:{}" onclick="document.getElementById('my_form').submit();">로그아웃</a>
</form>
</body>
</html>